#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: white;

}

h2{
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}


*{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: rgb(31, 31, 31);
}
li svg:hover{
  background-color: aquamarine;
}

